[Desktop Entry]
Version=1.0
X-Aspera-Version=3.9.5.172977
Type=Application
Exec=$HOME/.aspera/connect/bin/asperaconnect %U
Icon=$HOME/.aspera/connect/res/connect.png
Name=IBM Aspera Connect
Comment=High-performance transfer application
GenericName=File transfer
MimeType=x-scheme-handler/fasp;
Terminal=false
Categories=Network;WebBrowser;

